In [ ]:
#Logan Woodward SDEV220 Programming Assignment M04
"""11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string
 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function."""
#zoo.py
def hours():
    print('Open 9-5 daily')
#interactive interpreter
>>> import zoo
>>> zoo.hours()
Open 9-5 daily

In [ ]:
#11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.
>>> import zoo as menagerie
>>> menagerie.hours()
Open 9-5 daily

In [ ]:
"""16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in 
exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order."""
from sqlalchemy import create_engine, MetaData, Table, select

#create an engine to connect to the SQLite database
engine = create_engine('sqlite:///books.db')

#create a metadata object to hold information about the database
metadata = MetaData()

#reflect the existing database into the metadata
metadata.reflect(bind=engine)

#get the books table from the metadata
books_table = metadata.tables['books']

#create a connection to the database
with engine.connect() as conn:
    #build a select query to select the title column from the books table
    #order the results alphabetically by title
    query = select([books_table.c.title]).order_by(books_table.c.title)
    
    #execute the query and fetch all the rows
    result = conn.execute(query).fetchall()
    
    #print the titles
    for row in result:
        print(row[0])